@media (max-width: 1024px) {
    .line-break {
        display: block;
    }


    .btn-sec {
        /* background-color: white; */
        border: none;
        font-size: 12px;
    }

    .sub-heading {
        /* font-family: Plus Jakarta Sans; */
        font-size: 35px;
        font-weight: 800;
        line-height: 100px;
        letter-spacing: 0.02em;
        margin-top: 30px;
        margin-bottom: 20px;
    }


    .under-sub-heading {
        /* font-family: Plus Jakarta Sans; */
        font-size: 22px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0.02em;
        text-align: center;

    }

    .home-section {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        padding: 260px 50px;
        margin-top: 20px;
        height: 97vh;
    }

    .home-text {
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        left: 8%;
    }

    .title-img {
        right: 0%;
        width: 63%;
    }

    .about-title {
        width: 35%;
        right: 30px;
    }

    .about-section {
        width: 86%;
    }

    .line-1 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03rem;
    }

    .line-2 {
        font-size: 18px;
        /* line-height: 40px; */
    }

    .line-3 {
        font-size: 35px;
        line-height: 40px;
    }

    .line-4 {
        font-size: 35px;
        line-height: 40px;
    }

    .home-points {
        font-size: 16px;
    }

    .rydr-btn {
        gap: 25px;
    }

    .btn-sec a {
        font-size: 15px;
    }

    .btn-1,
    .btn-2 {

        padding: 8px 15px;
    }

    .moto-section {
        height: 93vh;
    }

    .moto-content p {
        font-size: 15px;
        text-align: justify;
        padding: 10px 20px;
    }

    .why-choose-section {
        padding: 0px;
    }

    .why-choose-content {
        justify-content: flex-start;
    }

    .why-choose-content {
        width: 100%;
    }



    .why-choose-content {
        /* width: 90%; */
        gap: 10px;
    }

    .why-img-div {
        width: 50% !important;
    }

    .why-choose-div {
        padding-right: 0px;
    }

    .why-img {
        /* height: 50vh; */
        width: 100%;
    }

    .footer-section {
        padding: 5px;
    }

    .points {
        gap: 15px;
        margin-top: 8px;
        width: 100%;
    }

    .points img {
        width: 30px;
    }

    .points img {
        /* width: 100px; */
    }

    .whats {
        margin-bottom: 0px;
    }

    .prime-head {
        margin-bottom: 0px !important;
        line-height: 55px;
        margin-top: 0px;
    }

    .cust-part,
    .driver-part {
        width: 85% !important;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 24px;
        line-height: 1.2;
    }


    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .driver-part .card-title {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .driver-part .card-text {
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .driver-part .card-group {
        gap: 10px !important;
    }


    .safety-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        padding-left: 10px;
    }

    .safety-content .sub-heading {
        margin-bottom: 0;
        margin-left: 0px;
    }

    .safety-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .safety-know {
        margin-left: 60px;
    }

    .saf-img {
        width: 55%;
    }

    .footer-logo img {
        width: 52%;
    }

    .download-app p {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .app-links img {
        /* width: 35%;
        margin: 10px 5px; */
    }



    .app-links img {
        width: 85%;
    }

    .sherydr-app img {
        width: 45%;
    }

    .app-2 img {
        width: 66%;
    }

    .social-links {
        padding-left: 0px;
        gap: 5px;
        justify-content: center;
    }

    .socialImg {
        width: 70%;
    }

    .list-unstyled,
    .add-div,
    .contact-div {
        /* margin-top: 1rem; */
    }

    .footer-bottom {
        justify-content: space-evenly;
    }

    .footer-bottom p,
    .footer-end a {
        margin-top: 10px;
    }

    .footer-bottom p {
        font-size: 10px;
    }

    .footer-end a {
        font-size: 10px;
    }


    .know-more {
        padding: 6px 25px
    }


    /* Safety---  */

    .safety-title {
        width: 44%;
    }

    .new-saf-head {
        height: 45vh;
    }

    .safety-page-top {
        margin-top: 0px !important;
        padding: 279px 50px;
        height: 90vh;
    }

    .breadcrumb {
        font-size: 15px;
        margin-left: 5px;
    }

    .new-saf-head-desc {
        width: 48%;
    }

    .new-saf-head-img {
        width: 17%;
    }

    .new-saf-head-desc p {
        font-size: 15px;
    }

    .sherydr_verification_img h2 {
        font-size: 30px;
    }

    .sherydr_verification p {
        font-size: 15px;
        word-spacing: 0.3em;
        letter-spacing: 0.03em;
        width: 32%;
        margin-top: 15px;
    }

    .info-list {
        font-size: 15px;
    }

    .safety-card-group {
        width: 100%;
    }

    .safety-card-title {
        height: 60px;
        font-size: 22px !important;
    }

    .driver-safety-card-group {
        width: 75%;
    }



    /* Drive-with-us  */
    .drive_w_us {
        width: 55%;
    }


    .with-us-text {
        align-items: baseline;
        /* left: 10%; */
        top: 30%;
    }

    .adv-wid {
        width: 83%;
    }

    .adv-card {
        padding: 0 5px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .adv-card-title h5 {
        margin-top: 10px;
        font-size: 16px
    }

    .adv-card-top {
        gap: 10px;
    }


    /* About us  */

    .about-banner {
        height: 84vh;
    }

    .about-text {
        top: 29%;
    }

    .login-div {
        height: 50vh;
        width: 40%;
    }

    .login-banner {
        width: 40%;
    }

    .privacy-heading {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .tac {
        margin-top: 5rem;
    }


    .curve-1 {
        position: absolute;
        width: 18%;
        left: 26%;
        margin-top: 20px;
    }

    .curve-2 {
        position: absolute;
        width: 18%;
        left: 56%;

        margin-top: 20px;
    }


    .drive-with-us-section {
        height: 85vh;
    }


    .safety-card-title {
        height: 10px;
    }

    .know-more {
        font-size: 13px;
    }

    .footer-heading {
        font-size: 20px;
    }

    .sherydr_verification h2 {
        margin-bottom: 0px !important;
        margin-top: 10px;
    }

    .sherydr_verification p {
        width: 85%;
        margin-top: 0px;
    }

    .cust-safety-img img {
        width: 45%;
    }

    .sherydr_verification_img img {
        width: 45%;
    }

    .card-text {
        font-size: 15px;
    }

    .app-title {
        font-size: 15px;
        padding: 0px 5px;
    }

    .about-title {
        width: 39%;
        right: 30px;
    }


}

@media (max-width: 1024px) {
    @media screen and (max-height: calc(100vw * 0.6)) {
        .title-img {
            width: 50%;
        }

        .safety-title {
            width: 33%;
        }

        .drive_w_us {
            width: 44%;
        }

        .about-title {
            width: 33%;
        }

        .moto-section {
            height: auto;
        }
    }
}

@media (max-width: 825px) {

    .mob {
        font-size: 20px !important;
    }

    .log-input {
        width: 85%;
    }
}

@media (max-width: 1150px) {
    .line-break {
        display: block;
    }
}

@media (max-width: 1110px) {
    .moto-head {
        height: 35px;
    }
}