@media (max-width: 575px) {


    .sub-heading {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 27px;
    }

    .section-margin {
        margin-top: 50px !important;
    }

    .under-sub-heading {
        font-size: 19px;
    }

    .rydr-btn {
        justify-content: center;
        padding-left: 0px;
        margin-top: 20px;
    }

    .side-text {
        padding: 5px 10px;
    }

    .home-text {
        text-align: left;
    }

    .dwn {
        padding: 8px 8px;
    }

    .btn-sec {
        border: none;
        font-size: 12px;
    }

    .why-choose-heading {
        font-size: 35px;
    }

    .home-section {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 122px; */
        text-align: center;
        padding: 20px 0px;
        padding-bottom: 200px;
    }

    .home-text {
        align-items: center;
        /* align-items: flex-start; */
        margin: 20px;
        position: static;
        left: auto;
        margin-top: 50px;
    }

    .title-img {
        left: 35%;
        transform: translateX(-45%);
        width: 70%;
    }

    .about-title {
        /* left: 40%; */
        transform: translateX(-16%);
        width: 50%;
    }

    .moto-section {
        height: auto;
        padding-bottom: 40px;
    }

    .motos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .moto-head {
        margin-top: 0.9rem !important;
        height: 10px;
    }

    .moto-img {
        width: 90px;
    }

    .mini-head {
        display: none;
    }

    .prime-head {
        margin-top: 10px;
        display: block;
    }

    .why-choose-section {
        /* margin-top: 60px */
    }

    .why-img {
        height: 50vh;
    }

    .why-choose-content {
        padding-bottom: 40px;
        flex-direction: column;
    }

    .why-choose-div {
        display: flex;
        width: 88%;
        align-items: center;
    }

    .points-desc p {
        font-size: 12px;
    }

    .points-desc p {
        margin-bottom: 5px;
    }

    .card-text {
        font-size: 12px;
    }

    .driver-part .card-text {
        line-height: 24px;
        text-align: center;
    }

    .driver-part .card-title {
        font-size: 25px;
        line-height: 35px;
    }

    .safety-section {
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }


    .safety-content .sub-heading {
        font-size: 27px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .safety-know {
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }


    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .social-links {
        gap: 0px;
    }

    .playStore a {
        justify-content: center;
    }


    .about_app_link a {
        justify-content: center;
    }

    /* SAFETY  */

    .line-bg-grey {
        display: flex;
        gap: 10px;
        margin-top: 0px;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .commitment {
        margin-top: 0px !important;
    }

    .cust-safety {
        margin-top: 0px !important;
    }

    .safety-title {
        margin-top: 0px;
        position: static;
        width: 50%;
        transform: translateX(0%);

    }

    .commit-card {
        width: 75% !important;
        margin-bottom: 3rem;
    }

    .breadcrumb {
        display: none;
    }

    .new-saf-head-img {
        width: 37%;
    }

    .new-saf-head-desc {
        width: 54%;
    }

    .new-saf-head-desc p {
        width: 100%;
    }

    .new-saf-head-desc .sub-heading {
        line-height: 30px;
        font-size: 25px;
        text-align: justify;
        margin-bottom: 25px !important;
    }

    .sherydr_verification {
        display: flex;
        flex-direction: column;
        margin-top: 0px !important;
    }

    .sherydr_verification_desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sherydr_verification h2 {
        margin-top: 0px;
    }

    .sherydr_verification_img h2 {
        font-size: 18px;
    }

    .sherydr_verification_img img {
        width: 85%;
    }


    .sherydr_verification p {
        width: 85%;
        margin-top: 0px;
        text-align: center;
    }

    .sherydr_verification_img {
        width: 50%;
    }

    .safety-page-top {
        flex-direction: column;
        padding-bottom: 0;
        padding: 0px 0px;
        justify-content: end;
        flex-wrap: wrap;
    }

    /* .line-1,
    .line-2,
    .line-4,
    .line-3 {
        font-size: 20px;
        line-height: 25px;
        padding: 10px;
    } */

    .line-1 {
        font-size: 19px;
        color: black;
        line-height: 25px;
    }

    .line-2 {
        font-size: 19px;
        line-height: 30px;
    }

    .home-points {
        text-align: center;
        font-size: 15px;
        padding: 10px 0px 0px 10px;

    }

    .rydr-btn {
        margin-top: 20px;
    }


    .why-img {
        object-fit: cover;
        height: 65vh;
    }

    .why-img-div {
        width: 100% !important;
    }

    .saf-img {
        margin-top: 0px;
        width: 50%;
        object-fit: cover;
        height: auto;
        margin-left: 0px;
    }

    .safety-content {
        align-items: center;
    }

    .safety-text {
        width: 80%;
    }

    .text-div {
        align-items: center;
    }

    .safety-page-text .side-text {
        padding: 0px !important;
        text-align: left;
    }

    .app-safety-feature .card {
        margin-bottom: 1rem !important;
    }

    .safety-card-group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin-top: 0px;
        gap: 0px;
    }

    .safety-card-title {
        margin-top: 0px;
        font-size: 19px !important;
        height: auto;
    }



    .driver-part .card-title {
        margin-bottom: 5px;
    }

    .card-group>.card {
        margin-bottom: 2rem;
    }


    .safety-card-text {
        padding: 0px 10px;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
        -webkit-line-clamp: 9;
    }

    .info-list {
        font-size: 12px;
    }

    .driver-head {}

    .driver-head-desc {
        width: 56%;
    }

    .driver-head-desc-img {
        width: 32%;
    }


    .driver-safety-card-group {
        margin-top: 0px;
    }

    .driver-safety-card-group {
        margin: 0px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    /* DRIVW WITH US  */


    .drive-with-us-section {
        flex-direction: column;
        padding-bottom: 0px;
        margin: 0px;
        height: 100vh;
        justify-content: space-between;
    }

    .mobile-hide {
        display: none;
    }

    .adv-head {
        text-align: center;
        font-size: 27px;
        margin-top: 30px;
    }

    .with-us-top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0;
        text-align: center;
        padding: 10px 19px;
        padding-bottom: 0px;
    }

    .with-us-text {
        margin-bottom: 0px;
        align-items: center;
        margin-top: 75px;
    }

    .drive_w_us {
        width: 70%;
    }

    .drive-heading {
        font-size: 24px;
        line-height: 40px;
    }

    .adv-part {
        padding: 3px 0px;
    }



    .list-unstyled li {
        text-align: center;
    }

    .adv-sec {
        align-items: center;
    }

    .adv-wid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
    }

    .adv-card-top {
        gap: 20px;
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
        flex-direction: column;
    }

    .adv-card-title h5 {
        margin-top: 7px;
        font-size: 19px;
    }

    .log-input {
        width: 70%;
        font-size: 13px !important;
    }

    .otp-btn {
        font-size: 13px;
        font-weight: 700;
        border: 1px solid white;
        padding: 7px 25px;
    }

    .login-banner {
        display: none;
    }

    .login-div {
        height: 60vh;
        width: 70%;
    }

    .login-logo img {
        width: 60%;
    }

    .mob {
        font-size: 20px !important;
    }

    .log-input {
        width: 80%;
        font-size: 18px !important;
    }

    .accordion-button {
        font-size: 1.1rem !important;
    }


    .tac {
        font-size: 25px;
        margin-top: 5rem;
    }

    .curve-1 {
        display: none;
    }

    .curve-2 {
        display: none;
    }

    .app-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .add-div {
        font-size: 10px;
    }

    .footer-apps {
        margin-top: 0px;
    }

    .about_dow_app p {
        font-size: 25px;
    }

    .about-head h3 {
        text-align: center !important;
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }

    .about-desc p {
        margin: 0px;
        margin-bottom: 20px;
    }

    .privacy-heading {
        margin-top: 90px;
        margin-bottom: 20px;

    }
}


@media (min-width: 431px) and (max-width: 575px) {
    .title-img {
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
    }
}

@media (max-width: 400px) {
    .mob {
        font-size: 18px !important;
    }

    .log-input {
        width: 80%;
        font-size: 15px !important;
        font-weight: 400 !important;
    }


}





























@media (max-width:415px) {

    .title-img {
        /* left: 40%; */
        transform: translateX(-43%);
        width: 75%;
    }

    .btn-sec {
        font-size: 12px;
    }

    .safety-title {
        transform: translateX(0%);
        width: 55%;
    }

    .line-1 {
        font-size: 17px;
        line-height: 25px;
    }



    .line-2 {
        font-size: 17px;
        line-height: 15px;
    }

    .line-4 {
        font-size: 25px;
        line-height: 35px;
    }

    .home-points {
        font-size: 14px;
        padding: 10px 0px;
        padding-bottom: 0px;
    }

    .footer-bottom p {
        font-size: 8px;
    }

    .download-app p {
        font-size: 15px;
    }

    .social-links {
        display: flex;
    }

    .list-unstyled li {
        margin-bottom: 8px;
    }

    .safety-page-top {
        gap: 25px;
    }

    .social-links a {
        margin: 0;
    }

    .social-links img {
        width: 75%;
    }

    .sub-heading {
        font-size: 27px;
    }

    .moto-content p {
        text-align: justify;
    }

    .why-choose-heading {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .safety-content .sub-heading {
        margin: 10px 0px;
    }

    .new-saf-head-desc {
        width: 50%;
    }

    .new-saf-head-img {
        width: 45%;
    }

    .sherydr_verification_img {
        width: 45%;
    }

    .sherydr_verification_img img {
        width: 98%;
    }

    .sherydr_verification_img h2 {
        font-size: 15px;
    }

    .about-title {
        /* left: 40%; */
        transform: translateX(-40%);
        width: 50%;
    }

    .new-saf-head-img {
        width: 37%;
    }

    .new-saf-head-desc p {
        width: 93%;
    }

    .drive_w_us {
        width: 80%;
    }

    .adv-head {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .adv-card-title h5 {
        font-size: 17px;
    }

}


@media (max-width: 492px) {
    .download-app p {
        font-size: 13px;
    }

    .about_dow_app p {
        font-size: 14px;
    }
}