@media (min-width: 2200px) {

    .classy-navbar {
        width: 100%;
        height: 100px;
    }

    .home-parent li a {
        font-size: 28px !important;
    }

    .safety-know {
        margin-top: 40px;
    }


    .log-in {
        font-size: 28px;
        padding: 20px;
    }

    .classy-navbar .nav-brand img {
        width: 200px;
    }

    .about-title {
        width: 35%;
        right: 20px;
    }

    .line-bg-grey {}

    .line-bg-grey h4 {
        font-size: 55px;
    }

    .line-bg-grey span {
        font-size: 55px;
        color: rgb(201 197 197);
    }

    .title-img {
        width: 64%;
    }

    .title-img img {
        width: 100%;
    }

    .sub-heading {
        margin-top: 40px;
        font-size: 60px;
        margin-bottom: 70px;
    }

    .why-img {
        width: 100%;
    }

    .prime-head {
        margin-bottom: 3rem;
    }

    .why-choose-div {
        /* padding-right: 100px; */
    }

    .why-choose-heading {
        font-size: 55px;
    }

    .under-sub-heading {
        font-size: 37px;
    }

    .moto-head {
        height: 60px;
    }



    .know-more {
        font-size: 21px;
        padding: 15px 25px;
    }


    .home-section {
        height: 95vh;
    }

    .line-1 {
        font-size: 55px;
        font-weight: 500;
        text-align: left;
        line-height: 80px;
    }

    .line-2 {
        font-size: 49px;
        font-weight: 700;
        line-height: 1.3;
        text-align: left;
    }

    .line-3 {
        font-size: 55px;
        font-weight: 400;
        line-height: 80px;
        text-align: left;
    }

    .line-4 {
        font-size: 55px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
    }

    .safety-page-top {
        height: 90vh;
    }

    .saf-1 {
        font-size: 45px !important;
        line-height: 25x;
        line-height: 80px;
    }

    .saf-2 {
        font-size: 90px;
        line-height: 70px;
        line-height: 80px;
    }


    .home-points {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-align: left;
        /* padding: 39px 11px; */
    }

    .btn-sec {
        border: none;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
    }

    .btn-1,
    .btn-2 {
        padding: 20px 15px;
    }

    .safety-img img {
        /* padding-left: 135px; */

    }

    .cust-safety-img img {
        width: 35%;
    }

    .sherydr_verification_img img {
        width: 35%;
    }

    .app-title {
        font-size: 30px;
    }

    .card-description p {
        padding: 10px;
    }

    .saf-img {
        width: 40%;
    }

    .moto-content p,
    .card-text {
        font-size: 30px;
        line-height: 40px;
    }

    .points {
        display: flex;
        gap: 2.5rem;
        margin: 1.6rem 0;
    }

    .points img {
        max-width: none;
        width: 70px;
    }

    .points-desc p {
        font-size: 30px;
    }

    .selection h4 {
        font-size: 40px;
    }

    .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 30px;
    }

    .safety-text {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.8;
    }

    .curve {
        width: 100%;
        position: absolute;
        left: 23.5%;

    }

    .curve-2 {
        /* margin-left: 10px; */
        position: absolute;
        /* z-index: -1; */
        left: 53.5%;
    }

    .why-choose-content {
        /* gap: 60px; */
    }

    .social-links {
        display: flex;
        /* justify-content: center; */
        gap: 30px;
        padding-left: 0px;
    }

    .contact-form input,
    .contact-form textarea {
        margin-bottom: 20px;
        border-radius: 14px;
    }


    /* Safety-PAGE  */

    .safety-title {
        width: 41%;
    }

    .saf-img {
        margin-left: 30%;
    }

    .safety-card-title {
        font-weight: 800 !important;
        font-size: 60px !important;
    }



    .login-logo img {
        width: 100%;

    }

    .log-input {
        font-size: 25px !important;
    }


    .input-sec .col-form-label {
        font-size: 25px !important;
    }

    .otp-btn {
        font-size: 25px;
        padding: 10px 45px;
        margin-top: 20px;
    }

    .app-links img {
        width: 97%;
        /* margin: 7px 4px; */
    }

    .sherydr-app {
        justify-content: center;
    }

    .sherydr-app a {
        justify-content: center;
    }

    .sherydr-app img {
        width: 85%;
    }

    .download-app p {
        font-size: 45px;
        line-height: 40px;
    }

    .about_dow_app p {
        font-size: 40px;
    }

    .footer-section {
        padding: 35px;
    }

    .footer-logo p {
        font-size: 35px;
    }

    .footer-heading {
        font-size: 40px;
        margin-bottom: 1em;
    }

    .direct-links {
        font-size: 30px;
    }

    .add-div p {
        font-size: 18px;
    }

    .privacy-heading {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .moto-img {
        width: 170px;
    }

    .curve-1 {
        transform: rotate(10deg);
        position: absolute;
        width: 22%;
        left: 24%;
        z-index: 1;
    }

    .curve-2 {
        transform: rotate(10deg);
        position: absolute;
        width: 22%;
        left: 54%;
        z-index: 1;
    }

    .add-div {
        font-size: 30px;
    }

    .adv-card-img img {
        max-width: 75%;
        height: auto;
    }

    .adv-card-title h5 {
        margin: 25px 0;
        font-size: 1.8rem;
    }

    .about-banner {
        height: 92vh;
    }

    .about-title {
        width: 38%;
        right: 62px;
    }

    .about-desc p {
        font-size: 25px;
    }

    .breadcrumb a {
        font-size: 3rem;
    }

    .back-img {
        width: 13%;
    }

    .new-saf-head-desc p {
        font-size: 25px;
    }

    .new-saf-head-desc {
        width: 45%;
    }

    .new-saf-head-desc h2 {
        margin-bottom: 20px;
    }

    .sherydr_verification p {
        font-size: 30px;
    }

    .sherydr_verification_img h2 {
        font-family: ExtraBoldPlusJakarta;
        font-size: 50px;
        /* font-weight: 900; */
        line-height: 55px;
    }

    .new-saf-head {
        height: 50vh;
    }

    .app-safety-feature {
        margin-top: 3rem;
        width: 85%;
    }

    .safety-card-title {
        margin-bottom: 50px;
        /* height: 50px; */
        line-height: 1.3;
    }

    .about-text {
        font-size: 80px;
    }

    .driver-part .card-text {
        /* font-size: 14px; */
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .driver-part .card-title {
        margin: 20px 0px;
        height: 85px;
    }

    .info-list {
        font-size: 30px;
    }

    .selection h4 {
        margin: 30px
    }

    .drive-with-us-section {
        height: 90vh;
        margin-top: 0px;
    }

    .adv-part {
        height: 60vh;
        justify-content: flex-start;
    }

    .faq-head {
        margin-top: 150px;
    }

    .drive_w_us {
        width: 51%;
    }

    .with-us-text {
        top: 25%;
    }

}

@media screen and (min-width: 2200px) {
    @media screen and (max-height: calc(100vw * 0.55)) {

        .title-img {
            width: 50%;
        }

        .safety-title {
            width: 35%;
        }

        .drive_w_us {
            width: 45%;
        }

        .about-title {
            width: 32%;
        }
    }
}



@media (max-width: 1100px) {
    .privacy-heading {
        margin-top: 65px;
        margin-bottom: 20px;
    }
}




@media screen and (min-width: 1900px) and (max-width: 2200px) {
    .points {
        display: flex;
        gap: 1.5rem;
        margin: 1.5rem 0;
    }

    .moto-section {
        height: 95vh;
    }

    .selection h4 {
        margin: 30px
    }

    .line-1 {
        font-size: 40px;
        line-height: 70px;
    }

    .line-2 {
        font-size: 36px;
    }

    .home-points {
        font-size: 35px;
    }

    .btn-1,
    .btn-2 {
        padding: 16px 15px;
    }

    .btn-sec {
        font-size: 22px;
    }

    .title-img img {
        width: 100%;
    }

    .title-img {
        width: 55%;
    }

    .moto-content p {
        font-size: 25px;
        line-height: 40px;
    }

    .sub-heading {
        font-size: 50px;
    }

    .points-desc p {
        font-size: 25px;
    }

    .safety-card-title {
        font-size: 50px !important;
        height: 65px;
    }

    .safety-text {
        font-size: 25px;
        line-height: 45px;
    }

    .know-more {
        font-size: 20px;
        padding: 10px 15px;

    }

    .saf-img {
        margin-left: 20%;
        width: 40%;
    }

    .footer-heading {
        font-size: 25px;
    }

    .direct-links {
        font-size: 22px;
    }

    .download-app p {
        font-size: 25px;
    }

    .app-2 img {
        width: 94%;
    }

    .safety-title {
        width: 38%;
    }

    .line-bg-grey h4,
    .line-bg-grey span {
        font-size: 50px;
    }

    .safety-card-text {
        font-size: 25px;
        line-height: 35px;
    }

    .know-more {
        margin-top: 1rem;
        font-size: 20px;
        padding: 10px 15px;
    }

    .sherydr_verification p {
        font-size: 25px;
    }

    .card-description p {
        font-size: 25px;
        line-height: 35px;
        padding: 15px;
    }


    .app-title {
        font-size: 25px;
    }

    .info-list {
        font-size: 25px;
    }

    .with-us-text {
        top: 30%;
        text-align: left;
    }

    .drive_w_us {
        width: 50%;
    }

    .adv-head {
        margin-top: 1rem;
    }

    .adv-card-img img {
        max-width: 55%;
        height: auto;
    }

    .adv-card-title h5 {
        margin: 10px 0px;
        font-size: 1.5rem;
    }

    .about-title {
        width: 37%;
        right: 30px;
    }

    .about-desc p {
        font-size: 25px;
    }

    .sherydr-app img {
        width: 80%;
    }

    .modal-section h5 {
        font-size: 25px;
    }

}


@media screen and (min-width: 1900px) and (max-width: 2200px) {
    @media screen and (max-height: calc(100vw * 0.55)) {
        .title-img {
            width: 50%;
        }

        .safety-title {
            width: 35%;
        }

        .drive_w_us {
            width: 45%;
        }

        .about-title {
            width: 32%;
        }
    }
}